.products-header {
    margin: 13px 0 10px 19px;
    color: var(--color-body-300);
}

.products-list {
    list-style-type: none;
}

.products-list__image {
    width: 280px;
}

.products-list__item {
    width: 280px;
    margin: 0 auto 60px auto;
    box-shadow: 0 2px 10px #BFBCB8;
}

.products-list__price {
    text-align: center;
    margin: 2px 0 20px 0;
    padding-bottom: 12px;
    color: var(--color-green-400);
    font-size: var(--size-b2);
    font-weight: var(--weight-regular);
    font-family: var(--font-head);
}

.products-list__text {
    color: var(--color-body-300);
    background-color: white;
    text-align: center; 
    margin: 10px 0 0 0;
}

/* Responsive styles */

@media (min-width: 768px) { 
    .products-list {
        width: 728px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;
    }
    
    .products-list__item {
        margin: 0 0 60px 0;
        width: 344px;
    }
    
    .products-list__image {
        width: 344px;
    }
    
    .products-list__price {
        margin: 6px 0 0 0;
    }
}

@media (min-width: 1200px) { 
    
    .products-header {
        margin: 48px 0 12px 19px;
    }
    
    .products-list {
        width: 1160px;
    }
    
    .products-list__item {
        width: 360px; 
        margin: 0 0 40px 0;
    }
    
    .products-list__image {
        width: 360px;
    }
    
    .products-list__price {
        margin: 8px 0 4px 0;
    }
}
