.products-header {
    margin: 13px 0 10px 19px;
    color: $color-body-300;
}

.products-list {
    list-style-type: none;

  &__image {
    width: 280px;
}

  &__item {
    width: 280px;
    margin: 0 auto 60px auto;
    box-shadow: 0 2px 10px $color-cream-shadow;
}

  &__price {
    text-align: center;
    margin: 2px 0 20px 0;
    padding-bottom: 12px;
    color: $color-green-400;
    font-size: $size-b2;
    font-weight: $weight-regular;
    font-family: $font-head;
}

  &__text {
    color: $color-body-300;
    background-color: white;
    text-align: center;
    margin: 10px 0 0 0;
}
}

/* Responsive styles */

@media (min-width: 768px) {
    .products-list {
        width: 728px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;

    &__item {
        margin: 0 0 60px 0;
        width: 344px;
    }

    &__image {
        width: 344px;
    }

    &__price {
        margin: 6px 0 0 0;
    }
  }
}

@media (min-width: 1200px) {

    .products-header {
        margin: 48px 0 12px 19px;
    }

    .products-list {
        width: 1160px;

    &__item {
        width: 360px;
        margin: 0 0 40px 0;
    }

    &__image {
        width: 360px;
    }

    &__price {
        margin: 8px 0 4px 0;
    }
  }
}
