.button {
    display: block;
    margin: 0 auto 0 auto;
    width: 133px;
    background-color: #ABBC73;
    color: white;
    text-align: center;
    padding: 8px 17px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: $weight-regular;
    font-size: $size-h3;
    font-family: $font-head;
}

.details {

  &-header {
    margin-left: 20px;
}

  &-price {
    color: $color-teal;
    font-size: $size-h3;
    font-weight: $weight-regular;
    font-family: $font-head;
    margin: 10px 0 0 0;
}
}

.details-images--hide {
    display: none;
}

.details-images {
    margin: 60px auto 0 auto;
    width: 280px;

  &__item {
    list-style-type: none;
}

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 280px;
    margin: 16px auto 0 auto;
}

  &__main {
    width: 280px;
}

  &__side {
    width: 81px;
}
}

.details-info {
    margin: 36px auto 0 auto;
    width: 280px;
}

.details-list {
    list-style-type: none;

  &__item {
    margin: 2px 0 20px 0;
}
}

.details-purchase {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 36px 0 20px 0;

  &__item {
    color: black;
    font-size: $size-b2;
    font-weight: $weight-regular;
    font-family: $font-head;
    margin: 0 35px 17px 0;
    text-align: right;
}

  &__catagories {
    width: 140px;
    list-style-type: none;
    margin-top: 5px;
}
}

.list-colors {
    margin-top: 30px;
}

.menu-fill {
    padding-bottom: 40px;
    border: 2px solid #C4C4C4;
}

.total-cost {
    margin-top: 56px;
}

/* Responsive styles */

@media (min-width: 768px) {

    .details-header {
        margin-left: 0;
        width: 464px;
    }

    .details-image--hide {
        display: flex;
    }

    .details-images {
        display: flex;
        width: 600px;

    &__item {
        height: 120px;
    }

    &__list {
        width: 109px;
        height: 460px;
        margin: 0 0 0 31px;
    }

    &__main {
        width: 600px;
        height: 460px;
    }

    &__side {
        width: 109px;
        height: 100px;
        margin-bottom: 20px;
    }
    }

    .details-info {
        margin: 36px 0 0 84px;
        width: 100%;
    }

    .details-purchase {
        margin: 36px 0 38px 0;

    &__catagories {
        margin-left: 43px;
    }
    }

}

@media (min-width: 1200px) {

    .details {
        margin: 0;
    }

    .details-images {
        margin: 100px 0 0 100px;
        width: 460px;
        display: block;

    &__list {
        height: 100px;
        margin: 20px 0 140px 0;
        width: 460px;
    }

    &__main {
        width: 460px;
        height: 460px;
    }
    }

    .details-info {
        margin: 108px 0 0 40px;
    }

    .product-details {
        display: flex;
    }
}
